body {
  font-family: 'Pretendard-regular';
  margin: 0;
  padding: 0;
  background-color: #FAF9F2;
}

header {
  background-color:  #FAF9F2;
  padding: 30px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo span {
  /* font-family:"Poppins", sans-serif; */
  font-family: 'Leronine Regular';
  font-size: 30px;
  /* font-weight: bold; */
}


.nav-links a {
  top:10px;
  text-decoration: none;
  color: black;
  font-size:24px;
  font-family: 'Leronine Regular';
}

.nav-icons a {
  margin-left: 15px;
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin: 0;
  padding: 0;
}
.nav-icons img {
  width: 24px;
  height: 24px;
  
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.product-image img {
  width: 400px;
  height: auto;
  border-radius: 8px;
}

.product-details {
  margin-left: 50px;
  max-width: 500px;
}

.product-details h1 {
  font-size: 28px;
  margin-bottom: 10px;
  font-family:'Pretendard-Regular'
}

.product-details .rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.product-details .rating .fa-star {
  color: #666;
  margin-right: 5px;
}

.product-details .rating .fa-star.checked {
  color: #24B874;
}

.product-details .rating-count {
  font-size: 16px;
  font-family: 'Pretendard-regular';
  color: #666;
  margin-left: 10px;
}

.product-details .price {
  font-size: 22px;
  font-family: 'Pretendard-regular';
  color: #333;
  margin-bottom: 20px;
}

.product-details .description {
  font-size: 16px;
  font-family: 'Pretendard-regular';
  line-height: 1.5;
  margin-bottom: 20px;
}

.product-details ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.product-details ul li {
  font-family: 'Pretendard-regular';
  font-size: 16px;
  margin-bottom: 10px;
}

.select-container {
  margin-bottom: 20px;
  background-color: BABABA;
}
.product-container2 {
  position: absolute;
  top:600px;
  left:14%;
  display: flex;
  width: 1200px;
  /* margin:10px 80px 10px 40px; */
  align-items: center;
  flex-wrap: wrap;
  
  justify-content: center;
  gap: 20px;
  padding-top: 120px;
   
}
/* .select-container select {
  padding: 15px 20px;
  font-size: 25px;
  font-family: 'Pretendard-regular';
  width: 200px;
  height: 50px;
} */


.select-box {
  padding: 15px; /* increase padding to increase height */
  font-size: 16px;
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #555;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.select-box:focus {
  outline: none;
  border-color: #bbb;
}

.select-container {
  position: relative;
}

.select-container::after {
  content: '\25BE';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #aaa;
  font-size: 16px;
}

.add-to-cart {
  background-color: #24B874;
 
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  font-family: 'Pretendard-regular';
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #575757;
}


/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
  font-family: 'Leronine Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Leronine Regular'), url('Leronine.woff') format('woff');
  }
  

  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}